$default-brand-height: 2rem !default;

$breakpoint-sm: '(min-width: 600px)' !default;
$breakpoint-md: '(min-width: 768px)' !default;
$breakpoint-lg: '(min-width: 1280px)' !default;
$breakpoint-xl: '(min-width: 1440px)' !default;

// Keep elements in DOM for accessibility but hidden from view.
.hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: -300%;
}

// Almost all websites have a brand or logo in the header
// and/or footer. Used this on an element with an image
// to properly size the brand.
.brand {
  img {
    height: $default-brand-height*0.75;

    @media #{$breakpoint-md} {
      height: $default-brand-height;
    }
  }
}

// Display properties.
.d-inline-block { display: inline-block; }
.d-block { display: block; }
.d-none { display: none; }
.d-full { 
  width: 100%;
  height: 100vh;
}

.o-auto { 
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.o-visible { overflow: visible; }
.o-hidden { overflow: hidden; }

.no-wrap { white-space: nowrap; }

@media #{$breakpoint-sm} {
  .d-sm-inline-block { display: inline-block; }
  .d-sm-block { display: block; }
  .d-sm-none { display: none; }
  .d-sm-full { 
    width: 100%;
    height: 100vh;
  }

  .o-sm-auto { 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .o-sm-visible { overflow: visible; }
  .o-sm-hidden { overflow: hidden; }

  .sm-no-wrap { white-space: nowrap; }
}

@media #{$breakpoint-md} {
  .d-md-inline-block { display: inline-block; }
  .d-md-block { display: block; }
  .d-md-none { display: none; }
  .d-md-full { 
    width: 100%;
    height: 100vh;
  }

  .o-md-auto { 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .o-md-visible { overflow: visible; }
  .o-md-hidden { overflow: hidden; }

  .md-no-wrap { white-space: nowrap; }
}

@media #{$breakpoint-lg} {
  .d-lg-inline-block { display: inline-block; }
  .d-lg-block { display: block; }
  .d-lg-none { display: none; }
  .d-lg-full { 
    width: 100%;
    height: 100vh;
  }

  .o-lg-auto { 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .o-lg-visible { overflow: visible; }
  .o-lg-hidden { overflow: hidden; }

  .lg-no-wrap { white-space: nowrap; }
}

@media #{$breakpoint-xl} {
  .d-xl-inline-block { display: inline-block; }
  .d-xl-block { display: block; }
  .d-xl-none { display: none; }
  .d-xl-full { 
    width: 100%;
    height: 100vh;
  }

  .o-xl-auto { 
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .o-xl-visible { overflow: visible; }
  .o-xl-hidden { overflow: hidden; }

  .xl-no-wrap { white-space: nowrap; }
}

// Vertical align.
.va-middle { vertical-align: middle; }
.va-text-bottom { vertical-align: text-bottom; }

// Aspect ratios.
[class^='ratio-'],
[class*=' ratio-'] {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    display: block;
  }

  & > *:not([class*='absolute']) {
    position: absolute;
    top: 0;
    left: 0;
  }

  // Standard ratios.
  &[class*='1_1']::before { padding-top: 100%; }
  &[class*='1_2']::before { padding-top: 200%; }
  &[class*='4_3']::before { padding-top: 75%; }
  &[class*='5_3']::before { padding-top: 60%; }
  &[class*='16_9']::before { padding-top: 56.25%; }
  &[class*='21_9']::before { padding-top: 42.86%; }
  &[class*='28_9']::before { padding-top: 32.14%; }
  &[class*='36_9']::before { padding-top: 25%; }

  &[class*='iphone6']::before { padding-top: 178%; }
  // Cool little trick thanks to http://www.mademyday.de/css-height-equals-width-with-pure-css.html.
}

// Take control of your background images.
[class^='bg-'],
[class*=' bg-'] {
  &[class*='cover'] { background-size: cover; }
}

// Use an element to crop an image.
.crop,
[class^='crop-'],
[class*=' crop-'] {
  overflow: hidden;

  &[class*='fit'] { width: 100%; }

  &[class*='cover'] img {
    min-height: 100%;
    // https://css-tricks.com/almanac/properties/o/object-fit/
    object-fit: cover;
  }
}
