// Defaults.
$breakpoints: (
  sm: '(min-width: 600px)',
  md: '(min-width: 768px)',
  lg: '(min-width: 1280px)',
  xl: '(min-width: 1440px)'
) !default;

// Keep elements in DOM for accessibility but hidden from view.
.hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: -300%;
}

// Display properties.
.d-inline-block { display: inline-block; }
.d-block { display: block; }
.d-none { display: none; }

.d-full {
  width: 100%;
  height: 100vh;
}

.o-auto {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.o-visible { overflow: visible; }
.o-hidden { overflow: hidden; }

.no-wrap { white-space: nowrap; }

// Vertical align.
.va-top { vertical-align: top; }
.va-middle { vertical-align: middle; }
.va-bottom { vertical-align: bottom; }
.va-text-bottom { vertical-align: text-bottom; }

@each $abbr, $breakpoint in $breakpoints {
  @media #{$breakpoint} {
    .#{$abbr}-d-inline-block { display: inline-block; }
    .#{$abbr}-d-block { display: block; }
    .#{$abbr}-d-none { display: none; }

    .#{$abbr}-d-full {
      width: 100%;
      height: 100vh;
    }

    .#{$abbr}-o-auto {
      overflow: auto;
      -webkit-overflow-scrolling: touch;
    }
    .#{$abbr}-o-visible { overflow: visible; }
    .#{$abbr}-o-hidden { overflow: hidden; }

    .#{$abbr}-no-wrap { white-space: nowrap; }

    .#{$abbr}-va-top { vertical-align: top; }
    .#{$abbr}-va-middle { vertical-align: middle; }
    .#{$abbr}-va-bottom { vertical-align: bottom; }
    .#{$abbr}-va-text-bottom { vertical-align: text-bottom; }
  }
}

// Aspect ratios.
[class^='ratio-'],
[class*=' ratio-'] {
  width: 100%;
  position: relative;

  &::before {
    content: "";
    display: block;
  }

  & > *:not([class*='absolute']) {
    position: absolute;
    top: 0;
    left: 0;
  }

  // Standard ratios.
  &[class*='1_1']::before { padding-top: 100%; }
  &[class*='1_2']::before { padding-top: 200%; }
  &[class*='4_3']::before { padding-top: 75%; }
  &[class*='5_3']::before { padding-top: 60%; }
  &[class*='16_9']::before { padding-top: 56.25%; }
  &[class*='21_9']::before { padding-top: 42.86%; }
  &[class*='28_9']::before { padding-top: 32.14%; }
  &[class*='36_9']::before { padding-top: 25%; }

  &[class*='iphone6']::before { padding-top: 178%; }
  // Cool little trick thanks to http://www.mademyday.de/css-height-equals-width-with-pure-css.html.
}

// Take control of your background images.
[class^='bg-'],
[class*=' bg-'] {
  &[class*='cover'] { background-size: cover; }
}

// Use an element to crop an image.
.crop,
[class^='crop-'],
[class*=' crop-'] {
  overflow: hidden;

  &[class*='fit'] { width: 100%; }

  &[class*='cover'] img {
    min-height: 100%;
    // https://css-tricks.com/almanac/properties/o/object-fit/
    object-fit: cover;
  }
}
