// Defaults.
$breakpoints: (
  sm: '(min-width: 600px)',
  md: '(min-width: 768px)',
  lg: '(min-width: 1280px)',
  xl: '(min-width: 1440px)'
) !default;

// Container settings
.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-wrap { flex-wrap: wrap; }

// Items alignment
.items-center { align-items: center; }
.items-baseline { align-items: baseline; }
.items-stretch { align-items: stretch; }
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }

// Item Alignment
.item-right { margin-left: auto; }

// Self Alignment
.self-center { align-self: center; }
.self-baseline { align-self: baseline; }
.self-stretch { align-self: stretch; }
.self-start { align-self: flex-start; }
.self-end { align-self: flex-end; }

// Content Alignment
.content-start { align-content: flex-start; }
.content-end { align-content: flex-end; }
.content-center { align-content: center; }
.content-stretch { align-content: stretch; }

// Content Alignment: Justify
.justify-between { justify-content: space-between; }
.justify-around { justify-content: space-around; }
.justify-center { justify-content: center; }
.justify-end { justify-content: flex-end; }

.flex-auto {
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.flex-none { flex: none; }

// Order
.flex-first { order: -1; }
.flex-last { order: 99999; }

// Grow
.flex-grow { flex: 1 0 auto; }
.flex-no-grow { flex-grow: 0; }

@each $abbr, $breakpoint in $breakpoints {
  @media #{$breakpoint} {
    .#{$abbr}-flex { display: flex; }
    .#{$abbr}-flex-column { flex-direction: column; }
    .#{$abbr}-flex-row { flex-direction: row; }
    .#{$abbr}-flex-wrap { flex-wrap: wrap; }
    .#{$abbr}-items-center { align-items: center; }
    .#{$abbr}-items-end { align-items: flex-end; }
    .#{$abbr}-item-right { margin-left: auto; }
    .#{$abbr}-justify-between { justify-content: space-between; }
    .#{$abbr}-justify-around { justify-content: space-around; }
    .#{$abbr}-justify-center { justify-content: center; }
    .#{$abbr}-justify-end { justify-content: flex-end; }
  }
}
