// Defaults.
$breakpoints: (
  sm: '(min-width: 600px)',
  md: '(min-width: 768px)',
  lg: '(min-width: 1280px)',
  xl: '(min-width: 1440px)'
) !default;

.f-left { float: left; }
.f-right { float: right; }
.f-none { float: none; }

@each $abbr, $breakpoint in $breakpoints {
  @media #{$breakpoint} {
    .f-#{$abbr}-left { float: left; }
    .f-#{$abbr}-right { float: right; }
    .f-#{$abbr}-none { float: none; }
  }
}
