// Defaults.
$breakpoints: (
  sm: '(min-width: 600px)',
  md: '(min-width: 768px)',
  lg: '(min-width: 1280px)',
  xl: '(min-width: 1440px)'
) !default;

$container-width: 90rem !default;
$columns: 12 !default;

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  @extend .clearfix;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

.row {
  @extend .clearfix;
  display: block;
}

[class^='col-'],
[class*=' col-'] {
  float: left;
  width: 100%;
  box-sizing: border-box;
}

@for $i from 1 through $columns {
  .col-#{$i} { width: ($i/$columns * 100%); }
  .push-#{$i} { margin-left: ($i/$columns * 100%); }
  .pull-#{$i} { margin-left: -($i/$columns * 100%); }
  .pull-right-#{$i} { margin-right: -($i/$columns * 100%); }
  .push-0,
  .pull-0 {
    margin-left: 0;
    margin-right: 0;
  }
}

@each $abbr, $breakpoint in $breakpoints {
  @media #{$breakpoint} {
    @for $i from 1 through $columns {
      .col-#{$abbr}-#{$i} { width: ($i/$columns * 100%); }
      .push-#{$abbr}-#{$i} { margin-left: ($i/$columns * 100%); }
      .pull-#{$abbr}-#{$i} { margin-left: -($i/$columns * 100%); }
      .pull-#{$abbr}-right-#{$i} { margin-right: -($i/$columns * 100%); }

      .push-#{$abbr}-0,
      .pull-#{$abbr}-0 {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
