$default-transition: all 0.17s ease-in !default;

$interactions: null !default;

@mixin print-styles($map) {
  @each $style, $value in $map {
    #{$style}: $value;
  }
}

@mixin interaction($interaction, $contexts, $state) {
  
  &[class*='#{$interaction}'] {
  
    @each $context, $styles in $contexts {

      @if $context == 'settings' {
        @include print-styles($styles);
      }

      @if $context == 'start' {
          
        &[class*='target'],
        [class*='#{$interaction}-target'] {
          transition: $default-transition;
          @include print-styles($styles);
        }
      }
      
      @if $context == 'end' {
        &[class*='target']:#{$state},
        &:hover [class*='#{$interaction}-target'] {
          @include print-styles($styles);
        }
      } 
    }
  }
}


@each $interaction, $contexts in $interactions {

  [class^='hover-'],
  [class*=' hover-'] { @include interaction($interaction, $contexts, 'hover'); }

  [class^='active-'],
  [class*=' active-'] { @include interaction($interaction, $contexts, 'active'); }

  [class^='focus-'],
  [class*=' focus-'] { @include interaction($interaction, $contexts, 'focus'); }

}
