// Defaults.
$breakpoints: (
  sm: '(min-width: 600px)',
  md: '(min-width: 768px)',
  lg: '(min-width: 1280px)',
  xl: '(min-width: 1440px)'
) !default;

$percentage-length-increments: 0 10 20 25 40 50 60 75 80 90 100 !default;
$length-increments: 0.6 1.6 2.6 4.2 6.8 11 18 29 46 75 !default; // Based on the Golden Ratio – because it _feels_ good.

@for $i from 1 through length($length-increments) {
  $rem-value: nth($length-increments, $i) + rem;

  .w-#{$i} { width: #{$rem-value}; }
  .w-auto { width: auto; }
  .minw-#{$i} { min-width: #{$rem-value}; }
  .maxw-#{$i} { max-width: #{$rem-value}; }
  .h-#{$i} { height: #{$rem-value}; }
  .h-auto { height: auto; }
  .minh-#{$i} { min-height: #{$rem-value}; }
  .maxh-#{$i} { max-height: #{$rem-value}; }
}

@each $abbr, $breakpoint in $breakpoints {
  @media #{$breakpoint} {
    @for $i from 1 through length($length-increments) {
      $rem-value: nth($length-increments, $i) + rem;
      .#{$abbr}-w-#{$i} { width: #{$rem-value}; }
      .#{$abbr}-w-auto { width: auto; }
      .#{$abbr}-minw-#{$i} { min-width: #{$rem-value}; }
      .#{$abbr}-maxw-#{$i} { max-width: #{$rem-value}; }
      .#{$abbr}-h-#{$i} { height: #{$rem-value}; }
      .#{$abbr}-h-auto { height: auto; }
      .#{$abbr}-minh-#{$i} { min-height: #{$rem-value}; }
      .#{$abbr}-maxh-#{$i} { max-height: #{$rem-value}; }
    }
  }
}

// Percentage lengths.
// `p` denotes percent.
@each $increment in $percentage-length-increments {
  .hp-#{$increment} { height: $increment + 0%; }
  .wp-#{$increment} { width: $increment + 0%; }
}

@each $abbr, $breakpoint in $breakpoints {
  @media #{$breakpoint} {
    @each $increment in $percentage-length-increments {
      .#{$abbr}-hp-#{$increment} { height: $increment + 0%; }
      .#{$abbr}-wp-#{$increment} { width: $increment + 0%; }
    }
  }
}

