// Defaults.
$breakpoints: (
  sm: '(min-width: 600px)',
  md: '(min-width: 768px)',
  lg: '(min-width: 1280px)',
  xl: '(min-width: 1440px)'
) !default;

$breakpoint-sm: '(min-width: 600px)' !default;
$breakpoint-md: '(min-width: 768px)' !default;
$breakpoint-lg: '(min-width: 1280px)' !default;
$breakpoint-xl: '(min-width: 1440px)' !default;

// Apply relative positioning to an element.
// Specifically a parent with absolutely positioned
// children.
.relative { position: relative; }

// Absolute and fixed positioning.
.absolute { position: absolute; }
.fixed { position: fixed; }

// Origin in middle.
// Use this when centering an element with absolute/fixed positioning.
.origin-center { transform: translate3d(-50%,-50%,0); }

// Coordinates.
@for $i from 1 through 10 {
  .top-#{$i*10} { top: $i*10%; }
  .right-#{$i*10} { right: $i*10%; }
  .bottom-#{$i*10} { bottom: $i*10%; }
  .left-#{$i*10} { left: $i*10%; }

  // Translate.
  .y-#{$i*10} { transform: translateY($i*10%); }
  .yn-#{$i*10} { transform: translateY(-$i*10%); }
  .x-#{$i*10} { transform: translateX($i*10%); }
  .xn-#{$i*10} { transform: translateX(-$i*10%); }
}

@each $abbr, $breakpoint in $breakpoints {
  @media #{$breakpoint} {
    .relative-#{$abbr} { position: relative; }
    .absolute-#{$abbr} { position: absolute; }
    .fixed-#{$abbr} { position: fixed; }
    .origin-#{$abbr}-center { transform: translate3d(-50%,-50%,0); }

    @for $i from 1 through 10 {
      .top-#{$abbr}-#{$i*10} { top: $i*10%; }
      .right-#{$abbr}-#{$i*10} { right: $i*10%; }
      .bottom-#{$abbr}-#{$i*10} { bottom: $i*10%; }
      .left-#{$abbr}-#{$i*10} { left: $i*10%; }

      .y-#{$abbr}-#{$i*10} { transform: translateY($i*10%); }
      .yn-#{$abbr}-#{$i*10} { transform: translateY(-$i*10%); }
      .x-#{$abbr}-#{$i*10} { transform: translateX($i*10%); }
      .xn-#{$abbr}-#{$i*10} { transform: translateX(-$i*10%); }
    }
  }
}

// Z-index.
.z-10 { z-index: 1001; }
.z-9 { z-index: 1000; }
.z-8 { z-index: 999; }
.z-7 { z-index: 998; }
.z-6 { z-index: 101; }
.z-5 { z-index: 100; }
.z-4 { z-index: 999; }
.z-3 { z-index: 998; }
.z-2 { z-index: 100; }
.z-1 { z-index: 99; }
.z-0 { z-index: 0; }
.zn-1 { z-index: -1; }
