// Defaults.
$breakpoints: (
  sm: '(min-width: 600px)',
  md: '(min-width: 768px)',
  lg: '(min-width: 1280px)',
  xl: '(min-width: 1440px)'
) !default;

// Based on the Golden Ratio – because it _feels_ good.
$spacing-increments: 0.6 1.6 2.6 4.2 6.8 11 18 29 46 75 !default;

.p-0 { padding: 0; }
.pt-0 { padding-top: 0; }
.pr-0 { padding-right: 0; }
.pb-0 { padding-bottom: 0; }
.pl-0 { padding-left: 0; }

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m-0 { margin: 0; }
.mt-0 { margin-top: 0; }
.mr-0 { margin-right: 0; }
.mb-0 { margin-bottom: 0; }
.ml-0 { margin-left: 0; }

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

@for $i from 1 through length($spacing-increments) {
  $rem-value: nth($spacing-increments, $i) + rem;

  .p-#{$i} { padding: $rem-value; }
  .pt-#{$i} { padding-top: $rem-value; }
  .pr-#{$i} { padding-right: $rem-value; }
  .pb-#{$i} { padding-bottom: $rem-value; }
  .pl-#{$i} { padding-left: $rem-value; }
  .px-#{$i} {
    padding-left: $rem-value;
    padding-right: $rem-value;
  }
  .py-#{$i} {
    padding-top: $rem-value;
    padding-bottom: $rem-value;
  }

  .m-#{$i} { margin: $rem-value; }
  .mn-#{$i} { margin: -1*($rem-value); }
  .mt-#{$i} { margin-top: $rem-value; }
  .mtn-#{$i} { margin-top: -1*($rem-value); }
  .mr-#{$i} { margin-right: $rem-value; }
  .mrn-#{$i} { margin-right: -1*($rem-value); }
  .mb-#{$i} { margin-bottom: $rem-value; }
  .mbn-#{$i} { margin-bottom: -1*($rem-value); }
  .ml-#{$i} { margin-left: $rem-value; }
  .mln-#{$i} { margin-left: -1*($rem-value); }
  .mx-#{$i} {
    margin-left: $rem-value;
    margin-right: $rem-value;
  }
  .mxn-#{$i} {
    margin-left: -1*($rem-value);
    margin-right: -1*($rem-value);
  }
  .my-#{$i} {
    margin-top: $rem-value;
    margin-bottom: $rem-value;
  }
  .myn-#{$i} {
    margin-top: -1*($rem-value);
    margin-bottom: -1*($rem-value);
  }
}

@each $abbr, $breakpoint in $breakpoints {
  @media #{$breakpoint} {
    .p-sm-0 { padding: 0; }
    .pt-sm-0 { padding-top: 0; }
    .pr-sm-0 { padding-right: 0; }
    .pb-sm-0 { padding-bottom: 0; }
    .pl-sm-0 { padding-left: 0; }
    .px-sm-0 {
      padding-left: 0;
      padding-right: 0;
    }
    .py-sm-0 {
      padding-top: 0;
      padding-bottom: 0;
    }

    .m-sm-0 { margin: 0; }
    .mt-sm-0 { margin-top: 0; }
    .mr-sm-0 { margin-right: 0; }
    .mb-sm-0 { margin-bottom: 0; }
    .ml-sm-0 { margin-left: 0; }
    .mx-sm-0 {
      margin-left: 0;
      margin-right: 0;
    }
    .my-sm-0 {
      margin-top: 0;
      margin-bottom: 0;
    }

    .mx-sm-auto {
      margin-left: auto;
      margin-right: auto;
    }

    @for $i from 1 through length($spacing-increments) {

      $rem-value: nth($spacing-increments, $i) + rem;

      .p-sm-#{$i} { padding: $rem-value; }
      .pt-sm-#{$i} { padding-top: $rem-value; }
      .pr-sm-#{$i} { padding-right: $rem-value; }
      .pb-sm-#{$i} { padding-bottom: $rem-value; }
      .pl-sm-#{$i} { padding-left: $rem-value; }
      .px-sm-#{$i} {
        padding-left: $rem-value;
        padding-right: $rem-value;
      }
      .py-sm-#{$i} {
        padding-top: $rem-value;
        padding-bottom: $rem-value;
      }

      .m-sm-#{$i} { margin: $rem-value; }
      .mn-sm-#{$i} { margin: -1*($rem-value); }
      .mt-sm-#{$i} { margin-top: $rem-value; }
      .mtn-sm-#{$i} { margin-top: -1*($rem-value); }
      .mr-sm-#{$i} { margin-right: $rem-value; }
      .mrn-sm-#{$i} { margin-right: -1*($rem-value); }
      .mb-sm-#{$i} { margin-bottom: $rem-value; }
      .mbn-sm-#{$i} { margin-bottom: -1*($rem-value); }
      .ml-sm-#{$i} { margin-left: $rem-value; }
      .mln-sm-#{$i} { margin-left: -1*($rem-value); }
      .mx-sm-#{$i} {
        margin-left: $rem-value;
        margin-right: $rem-value;
      }
      .mxn-sm-#{$i} {
        margin-left: -1*($rem-value);
        margin-right: -1*($rem-value);
      }
      .my-sm-#{$i} {
        margin-top: $rem-value;
        margin-bottom: $rem-value;
      }
      .myn-sm-#{$i} {
        margin-top: -1*($rem-value);
        margin-bottom: -1*($rem-value);
      }
    }
  }
}
