// Default border weight.
$default-border-radius: 2px !default;
$default-border-weight: 1px !default;
$thick-border-weight: $default-border-weight*2 !default;

$default-border-color: #e8e9eb !default;
$default-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1) !default;

$color-primary: #0bf !default;
$color-secondary: #ff8740 !default;
$color-success: #60aa53 !default;
$color-error: #f00 !default;
$color-warning: #e89414 !default;

// Define the greyscale.
$greys: #313233 #595a5c #646566 #87888a #bec0c2 #d7d8da #e8e9eb #f2f4f5 !default;

// Applies default border settings.
.b { border: $default-border-weight solid $default-border-color; }
.bt { border: $default-border-weight solid $default-border-color; }
.br { border: $default-border-weight solid $default-border-color; }
.bb { border: $default-border-weight solid $default-border-color; }
.bl { border: $default-border-weight solid $default-border-color; }

.b-thick { border: $thick-border-weight solid $default-border-color; }
.bt-thick { border-top: $thick-border-weight solid $default-border-color; }
.br-thick { border-right: $thick-border-weight solid $default-border-color; }
.bb-thick { border-bottom: $thick-border-weight solid $default-border-color; }
.bl-thick { border-left: $thick-border-weight solid $default-border-color; }

.b-success { border: $default-border-weight solid $color-success; }
.bt-success { border-top: $default-border-weight solid $color-success; }
.br-success { border-right: $default-border-weight solid $color-success; }
.bb-success { border-bottom: $default-border-weight solid $color-success; }
.bl-success { border-left: $default-border-weight solid $color-success; }

.b-warning { border: $default-border-weight solid $color-warning; }
.bt-warning { border-top: $default-border-weight solid $color-warning; }
.br-warning { border-right: $default-border-weight solid $color-warning; }
.bb-warning { border-bottom: $default-border-weight solid $color-warning; }
.bl-warning { border-left: $default-border-weight solid $color-warning; }

.b-error { border: $default-border-weight solid $color-error; }
.bt-error { border-top: $default-border-weight solid $color-error; }
.br-error { border-right: $default-border-weight solid $color-error; }
.bb-error { border-bottom: $default-border-weight solid $color-error; }
.bl-error { border-left: $default-border-weight solid $color-error; }

.b-black { border: $default-border-weight solid black; }
.bt-black { border-top: $default-border-weight solid black; }
.br-black { border-right: $default-border-weight solid black; }
.bb-black { border-bottom: $default-border-weight solid black; }
.bl-black { border-left: $default-border-weight solid black; }

.b-white { border: $default-border-weight solid white; }
.bt-white { border-top: $default-border-weight solid white; }
.br-white { border-right: $default-border-weight solid white; }
.bb-white { border-bottom: $default-border-weight solid white; }
.bl-white { border-left: $default-border-weight solid white; }

@each $grey in $greys {
  $i: index($greys, $grey);

  .b-#{$i} { border: $default-border-weight solid $grey; }
  .bt-#{$i} { border-top: $default-border-weight solid $grey; }
  .br-#{$i} { border-right: $default-border-weight solid $grey; }
  .bb-#{$i} { border-bottom: $default-border-weight solid $grey; }
  .bl-#{$i} { border-left: $default-border-weight solid $grey; }

  .b-thick-#{$i} { border: $thick-border-weight solid $grey; }
  .bt-thick-#{$i} { border-top: $thick-border-weight solid $grey; }
  .br-thick-#{$i} { border-right: $thick-border-weight solid $grey; }
  .bb-thick-#{$i} { border-bottom: $thick-border-weight solid $grey; }
  .bl-thick-#{$i} { border-left: $thick-border-weight solid $grey; }
}

// Shadows.
.shadow { box-shadow: $default-box-shadow; }

// Rounding.
.rounded { border-radius: $default-border-radius; }

[class^='rounded-'],
[class*=' rounded-'] {
  border-radius: 0;

  &[class*='left'] {
    border-top-left-radius: $default-border-radius;
    border-bottom-left-radius: $default-border-radius;
  }

  &[class*='right'] {
    border-top-right-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
  }

  &[class*='top-left'] {
    border-top-left-radius: $default-border-radius;
    border-bottom-left-radius: 0;
  }

  &[class*='top-right'] {
    border-top-right-radius: $default-border-radius;
    border-bottom-right-radius: 0;
  }

  &[class*='bottom-right'] {
    border-bottom-right-radius: $default-border-radius;
    border-top-left-radius: 0;
  }

  &[class*='bottom-left'] {
    border-bottom-left-radius: $default-border-radius;
    border-top-right-radius: 0;
  }

}
