// Defaults.
$breakpoints: (
  sm: '(min-width: 600px)',
  md: '(min-width: 768px)',
  lg: '(min-width: 1280px)',
  xl: '(min-width: 1440px)'
) !default;

.table { display: table; }
.tr { display: table-row; }
.td { display: table-cell; }
