$percentage-length-increments: 0 10 20 25 40 50 60 75 80 90 100 !default;

// Based on the Golden Ratio – because it _feels_ good.
$length-increments: 0.6 1.6 2.6 4.2 6.8 11 18 29 46 75 !default;

@for $i from 1 through length($spacing-increments) {
  $rem-value: nth($spacing-increments, $i) + rem;

  .w-#{$i} { width: #{$rem-value}; }
  .minw-#{$i} { min-width: #{$rem-value}; }
  .maxw-#{$i} { max-width: #{$rem-value}; }

  @media #{$breakpoint-sm} {
    .w-sm-#{$i} { width: #{$rem-value}; }
    .minw-sm-#{$i} { min-width: #{$rem-value}; }
    .maxw-sm-#{$i} { max-width: #{$rem-value}; }
  }

  @media #{$breakpoint-md} {
    .w-md-#{$i} { width: #{$rem-value}; }
    .minw-md-#{$i} { min-width: #{$rem-value}; }
    .maxw-md-#{$i} { max-width: #{$rem-value}; }
  }

  @media #{$breakpoint-lg} {
    .w-lg-#{$i} { width: #{$rem-value}; }
    .minw-lg-#{$i} { min-width: #{$rem-value}; }
    .maxw-lg-#{$i} { max-width: #{$rem-value}; }
  }

  @media #{$breakpoint-xl} {
    .w-xl-#{$i} { width: #{$rem-value}; }
    .minw-xl-#{$i} { min-width: #{$rem-value}; }
    .maxw-xl-#{$i} { max-width: #{$rem-value}; }
  }
}

// Percentage lengths.
// `p` denotes percent.
@each $increment in $percentage-length-increments {
  .hp-#{$increment} { height: $increment + 0%; }
  .wp-#{$increment} { width: $increment + 0%; }

  @media #{$breakpoint-sm} {
    .hp-sm-#{$increment} { height: $increment + 0%; }
    .wp-sm-#{$increment} { width: $increment + 0%; }
  }

  @media #{$breakpoint-md} {
    .hp-md-#{$increment} { height: $increment + 0%; }
    .wp-md-#{$increment} { width: $increment + 0%; }
  }

  @media #{$breakpoint-lg} {
    .hp-lg-#{$increment} { height: $increment + 0%; }
    .wp-lg-#{$increment} { width: $increment + 0%; }
  }

  @media #{$breakpoint-xl} {
    .hp-xl-#{$increment} { height: $increment + 0%; }
    .wp-xl-#{$increment} { width: $increment + 0%; }
  }
}
