$modifier: 0.75;
$rem_base: 16px !default;
$ratio: 1.5 !default;
$step_begin: 10;
$step_end: 20;

@function whitespace-calculator($ratio, $i){

  $value: $ratio;

  @if $i == 0 {
    $value: 0;
  }

  @if $i == -1 {
    $value: -1/$ratio;
  }

  @if $i == 1 {
    $value: 1/$ratio;
  }

  @if $i < -1 {
    @for $n from -2 to -1*($i) {
      $value: -($value/$ratio);
    }
  }

  @if $i > 1 {
    @for $n from 2 to $i {
      $value: $value * $ratio;
    }
  }

  @return $value + 0rem;
}

@for $i from $step_begin to $step_end {
  $rem-value: whitespace-calculator($ratio, $i);

  @if $i < 0 {}
  @if $i >= 0 {
    .w-#{$i} { width: #{$rem-value}; }
    .minw-#{$i} { min-width: #{$rem-value}; }
    .maxw-#{$i} { max-width: #{$rem-value}; }
  }
}

@media #{$breakpoint-sm} {
  @for $i from $step_begin to $step_end {
    $rem-value: whitespace-calculator($ratio, $i);

    @if $i < 0 {}
    @if $i >= 0 {
      .w-sm-#{$i} { width: #{$rem-value}; }
      .minw-sm-#{$i} { min-width: #{$rem-value}; }
      .maxw-sm-#{$i} { max-width: #{$rem-value}; }
    }
  }
}

@media #{$breakpoint-md} {
  @for $i from $step_begin to $step_end {
    $rem-value: whitespace-calculator($ratio, $i);

    @if $i < 0 {}
    @if $i >= 0 {
      .w-md-#{$i} { width: #{$rem-value}; }
      .minw-md-#{$i} { min-width: #{$rem-value}; }
      .maxw-md-#{$i} { max-width: #{$rem-value}; }
    }
  }
}

@media #{$breakpoint-lg} {
  @for $i from $step_begin to $step_end {
    $rem-value: whitespace-calculator($ratio, $i);

    @if $i < 0 {}
    @if $i >= 0 {
      .w-lg-#{$i} { width: #{$rem-value}; }
      .minw-lg-#{$i} { min-width: #{$rem-value}; }
      .maxw-lg-#{$i} { max-width: #{$rem-value}; }
    }
  }
}

@media #{$breakpoint-xl} {
  @for $i from $step_begin to $step_end {
    $rem-value: whitespace-calculator($ratio, $i);

    @if $i < 0 {}
    @if $i >= 0 {
      .w-xl-#{$i} { width: #{$rem-value}; }
      .minw-xl-#{$i} { min-width: #{$rem-value}; }
      .maxw-xl-#{$i} { max-width: #{$rem-value}; }
    }
  }
}
