
// Rem base.
$rem-base: 14px;

// Modular scale ration.
$ratio: 1.2; // 5:6 Minor Third http://www.modularscale.com/?14&px&1.2&sass&text

// Grid settings.
$container-width: 102.85714286rem;
$columns: 16;

// Breakpoints.
$breakpoint-sm: '(min-width: 42.857142857rem)'; // 600
$breakpoint-md: '(min-width: 54.857142857rem)'; // 768
$breakpoint-lg: '(min-width: 91.428571429rem)'; // 1280
$breakpoint-xl: '(min-width: 102.85714286rem)'; // 1440

// Change these to primary/secondary/tertiary/success/error/warning.
$pomegranate: #e84b26;
$jasper: #d93f3e;

$color-primary: #e86041;
$color-secondary: '';
$color-success: #60aa53;
$color-error: '';
$color-warning: '';

// Greyscale.
$black: #010101;
$grey-1: #313233;
$grey-2: #595a5c;
$grey-3: #646566;
$grey-4: #87888a;
$grey-5: #bec0c2;
$grey-6: #d7d8da;
$grey-7: #e8e9eb;
$grey-8: #f2f4f5;
$white: #fefefe;

// Font weights.
$fw-book: 300;
$fw-medium: 400;
$fw-semibold: 500;
$fw-bold: 600;


// Style defaults.
$default-type-color: $grey-1;

$default-line-height: 1.5;

$default-border-radius: 2px;
$default-border-weight: 1px;
