$container-width: 90rem !default;
$columns: 12 !default;

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.container {
  @extend .clearfix;

  display: block;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;
}

.row {
  @extend .clearfix;

  display: block;
}

[class^='col-'],
[class*=' col-'] {
  float: left;
  width: 100%;
  box-sizing: border-box;

  &[class*='right'] { float: right; }
  &[class*='center'] {
    margin-left: auto;
    margin-right: auto;
  }
}

@for $i from 1 through $columns {
  .col-#{$i} { width: ($i/$columns * 100%); }
  .push-#{$i} { margin-left: ($i/$columns * 100%); }
}

@media #{$breakpoint-sm} {
  @for $i from 1 through $columns {
    .col-sm-#{$i} { width: ($i/$columns * 100%); }
    .push-sm-#{$i} { margin-left: ($i/$columns * 100%); }
  }
}

@media #{$breakpoint-md} {
  @for $i from 1 through $columns {
    .col-md-#{$i} { width: ($i/$columns * 100%); }
    .push-md-#{$i} { margin-left: ($i/$columns * 100%); }
  }
}

@media #{$breakpoint-lg} {
  @for $i from 1 through $columns {
    .col-lg-#{$i} { width: ($i/$columns * 100%); }
    .push-lg-#{$i} { margin-left: ($i/$columns * 100%); }
  }
}

@media #{$breakpoint-xl} {
  @for $i from 1 through $columns {
    .col-xl-#{$i} { width: ($i/$columns * 100%); }
    .push-xl-#{$i} { margin-left: ($i/$columns * 100%); }
  }
}
