// Defaults.
$rem-base: 16px !default;
$ratio: 1.5 !default;

$default-type-family: 'Proxima Nova', serif !default;
$default-type-weight: 400 !default;
$default-type-color: #010101 !default;
$default-line-height: 1.5 !default;
$display-type-family: 'soleil', 'Helvetica', sans-serif !default;
$display-line-height: 1.2 !default;
$caps-type-tracking: 0.1em !default;


// Because browsers do their own thing with fonts, let's
// be more explicit in setting the defaults.
body,
html {
  font-size: $rem-base;
  font-family: $default-type-family;
  line-height: $default-line-height;
}

h1,
h2,
h3,
h4 {
  display: block;
  line-height: $display-line-height;
  font-weight: $default-type-weight;
}

ol,
li,
blockquote { line-height: $default-line-height; }
ol { list-style-type: decimal; }

a {
  display: inline-block;
  text-decoration: none;
}

input,
textarea,
button {
  font-family: $display-type-family;
  line-height: $default-line-height;
  font-weight: $default-type-weight;
}

pre,
code {
  @extend .tn-1;

  display: inline-block;
  font-family: 'Courier New', monospace;
  line-height: $default-line-height;
}

// Modifiers.
// Type weight modifiers.
.tw-bold { font-weight: $fw-bold; }
.tw-semibold { font-weight: $fw-semibold; }
.tw-medium { font-weight: $fw-medium; }
.tw-book { font-weight: $fw-book; }

// Style modifiers.
// We omit the prefix `t` here because these adjectives can
// only apply to type.
.strikethrough { text-decoration: line-through; }
.underline { text-decoration: underline; }
.italic { font-style: italic; }

// Use the display font.
.display {
  font-family: $display-type-family;
  line-height: $display-line-height;
}

// Because all caps is awesome.
.caps {
  text-transform: uppercase;
  letter-spacing: $caps-type-tracking;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Alignment modifiers.
.ta-center { text-align: center; }
.ta-left { text-align: left; }
.ta-right { text-align: right; }

@media #{$breakpoint-sm} {
  .ta-sm-center { text-align: center; }
  .ta-sm-left { text-align: left; }
  .ta-sm-right { text-align: right; }
}

@media #{$breakpoint-md} {
  .ta-md-center { text-align: center; }
  .ta-md-left { text-align: left; }
  .ta-md-right { text-align: right; }
}

@media #{$breakpoint-lg} {
  .ta-lg-center { text-align: center; }
  .ta-lg-left { text-align: left; }
  .ta-lg-right { text-align: right; }
}

@media #{$breakpoint-xl} {
  .ta-xl-center { text-align: center; }
  .ta-xl-left { text-align: left; }
  .ta-xl-right { text-align: right; }
}

// Calculate the font sizes by scale.
@for $i from -3 to 14 {
  $value: $ratio;

  @if $i == 0 {
    .t-#{$i} { font-size: 1rem; }
  }

  @if $i < 0 {
    @for $n from -1 to -1*($i) {
      $value: $value/$ratio;
    }

    $rem-value: $value + rem;

    .tn-#{$i*-1} { font-size: $rem-value; }
    .tn-sm-#{$i*-1} {
      @media #{$breakpoint-sm} { font-size: $rem-value; }
    }
    .tn-md-#{$i*-1} {
      @media #{$breakpoint-md} { font-size: $rem-value; }
    }
    .tn-lg-#{$i*-1} {
      @media #{$breakpoint-lg} { font-size: $rem-value; }
    }
    .tn-xl-#{$i*-1} {
      @media #{$breakpoint-xl} { font-size: $rem-value; }
    }
  }

  @if $i > 0 {
    @for $n from 1 to $i {
      $value: $value * $ratio;
    }

    $rem-value: $value + rem;

    .t-#{$i} { font-size: $rem-value; }
    .t-sm-#{$i} {
      @media #{$breakpoint-sm} { font-size: $rem-value; }
    }
    .t-md-#{$i} {
      @media #{$breakpoint-md} { font-size: $rem-value; }
    }
    .t-lg-#{$i} {
      @media #{$breakpoint-lg} { font-size: $rem-value; }
    }
    .t-xl-#{$i} {
      @media #{$breakpoint-xl} { font-size: $rem-value; }
    }
  }
}

