$rem-base: 16px !default;
$ratio: 1.5 !default;

$body-type-family: 'Proxima Nova', serif !default;
$body-type-weight: 400 !default;
$display-type-family: 'soleil', 'Helvetica', sans-serif !default;
$default-type-color: #010101 !default;
$default-line-height: 1.5 !default;

$caps-type-tracking: 0.1em !default;

body,
html {
  font-size: $rem-base;
  font-family: $default-type-family;
}


@for $i from -3 to 14 {
  $value: $ratio;

  @if $i == 0 { 
    .t-#{$i} { font-size: 1rem; }
  }

  @if $i < 0 {
    @for $n from -1 to -1*($i) {
      $value: $value/$ratio;
    }

    $rem-value: $value + 0rem;

    .tn-#{$i*-1} { font-size: $rem-value; }
    .tn-sm-#{$i*-1} { 
        @media #{$breakpoint-sm} { font-size: $rem-value; } 
    }
    .tn-md-#{$i*-1} { 
        @media #{$breakpoint-md} { font-size: $rem-value; } 
    }
    .tn-lg-#{$i*-1} { 
        @media #{$breakpoint-lg} { font-size: $rem-value; } 
    }
    .tn-xl-#{$i*-1} { 
        @media #{$breakpoint-xl} { font-size: $rem-value; } 
    }
  }
  @if $i > 0 {
    @for $n from 1 to $i {
      $value: $value * $ratio;
    }

    $rem-value: $value + 0rem;

    .t-#{$i} { font-size: $rem-value; }
    .t-sm-#{$i} { 
        @media #{$breakpoint-sm} { font-size: $rem-value; } 
    }
    .t-md-#{$i} { 
        @media #{$breakpoint-md} { font-size: $rem-value; } 
    }
    .t-lg-#{$i} { 
        @media #{$breakpoint-lg} { font-size: $rem-value; } 
    }
    .t-xl-#{$i} { 
        @media #{$breakpoint-xl} { font-size: $rem-value; } 
    }
  }
}

.tw-bold { font-weight: $fw-bold; }
.tw-semibold { font-weight: $fw-semibold; }
.tw-medium { font-weight: $fw-medium; }
.tw-book { font-weight: $fw-book; }

.strikethrough { text-decoration: line-through; }
.underline { text-decoration: underline; }

.italic { font-style: italic; }

.ta-center { text-align: center; }
.ta-left { text-align: left; }
.ta-right { text-align: center; }

.display { 
  font-family: $display-type-family;
  font-weight: $fw-bold;
}

.body {
  font-family: $body-type-family;
}

.caps { 
  text-transform: uppercase;
  letter-spacing: $caps-type-tracking;
}

h1, h2, h3, h4 { display: block; line-height: 1.25; }
span { display: inline-block; }

ol, li, blockquote { line-height: $default-line-height; }
ol { list-style-type: decimal; }

a { 
  display: inline-block;
  text-decoration: none; 
}
pre, code {
  @extend .tn-1;

  display: inline-block;
  font-family: 'Courier New', monospace;
  line-height: $default-line-height;
}