$border-weight: 1px !default;
$color-primary: #000 !default;

.b7 { border: $border-weight solid $grey-7; }
.bt7 { border-top: $border-weight solid $grey-7; }
.bb7 { border-top: $border-weight solid $grey-7; }
.bl7 { border-top: $border-weight solid $grey-7; }
.br7 { border-top: $border-weight solid $grey-7; }

.b6 { border: $border-weight solid $grey-6; }
.bt6 { border-top: $border-weight solid $grey-6; }
.bb6 { border-top: $border-weight solid $grey-6; }
.bl6 { border-top: $border-weight solid $grey-6; }
.br6 { border-top: $border-weight solid $grey-6; }

.bp { border: $border-weight solid $color-primary; }