.container {
  display: block;
  max-width: $container-width;
  margin-left: auto;
  margin-right: auto;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.row {
  display: block;

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.col {
  float: left;
  box-sizing: border-box;
}

.col-right {
  float: right;
  box-sizing: border-box;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    width: ($i/$columns * 100%);
  }

  .push-#{$i} {
    margin-left: ($i/$columns * 100%);
  }
}

@media #{$breakpoint-sm} {
  .sm-col {
    float: left;
    box-sizing: border-box;
  }

  .sm-col-right {
    float: right;
    box-sizing: border-box;
  }

  @for $i from 1 through $columns {
    .sm-col-#{$i} {
      width: ($i/$columns * 100%);
    }
  }
}

@media #{$breakpoint-md} {
  .md-col {
    float: left;
    box-sizing: border-box;
  }

  .md-col-right {
    float: right;
    box-sizing: border-box;
  }

  @for $i from 1 through $columns {
    .md-col-#{$i} {
      width: ($i/$columns * 100%);
    }
  }
}

@media #{$breakpoint-lg} {
  .lg-col {
    float: left;
    box-sizing: border-box;
  }

  .lg-col-right {
    float: right;
    box-sizing: border-box;
  }

  @for $i from 1 through $columns {
    .lg-col-#{$i} {
      width: ($i/$columns * 100%);
    }
  }
}

@media #{$breakpoint-xl} {
  .xl-col {
    float: left;
    box-sizing: border-box;
  }

  .xl-col-right {
    float: right;
    box-sizing: border-box;
  }

  @for $i from 1 through $columns {
    .xl-col-#{$i} {
      width: ($i/$columns * 100%);
    }
  }
}
