// Absolute positioning.
.top {
	position: absolute;
	top: 0;
}

.bottom {
	position: absolute;
	bottom: 0;
}

.left {
	position: absolute;
	left: 0;
}

.right {
	position: absolute;
	right: 0;
}

// Translate.
.y50 { transform: translateY(50%); } // Push down by half.
.y-50 { transform: translateY(-50%); } // Pull up by half.
