$default-border-weight: 1px !default;
$color-primary: #000 !default;
$greys: #313233 #595a5c #646566 #87888a #bec0c2 #d7d8da #e8e9eb #f2f4f5 !default;

.b { border: $default-border-weight solid $default-border-color; }
.bt { border: $default-border-weight solid $default-border-color; }
.br { border: $default-border-weight solid $default-border-color; }
.bb { border: $default-border-weight solid $default-border-color; }
.bl { border: $default-border-weight solid $default-border-color; }

@each $grey in $greys {
  $i: index($greys, $grey);

  .b-#{$i} { border: $default-border-weight solid $grey; }
  .bt-#{$i}	{ border-top: $default-border-weight solid $grey; }
  .br-#{$i}	{ border: $default-border-weight solid $grey; }
  .bb-#{$i}	{ border: $default-border-weight solid $grey; }
  .bl-#{$i}	{ border: $default-border-weight solid $grey; }
  .b-thick-#{$i} { border: $default-border-weight*3 solid $grey; }
}