$color-primary: #00bbff !default;
$color-secondary: #ff8740 !default;
$color-success: #60aa53 !default;
$color-error: #ff0000 !default;
$color-warning: #e89414 !default;

$greys: lighten(#000, 10%) lighten(#000, 24%) lighten(#000, 38%) lighten(#000, 52%) lighten(#000, 64%) lighten(#000, 78%) lighten(#000, 92%) lighten(#000, 98%) !default;


.cp { color: $color-primary; }
.cs { color: $color-secondary; }

.cg-black { color: $black; }
.cg-white { color: $white; }

.cbgp { background-color: $color-primary; }
.cbgs { background-color: $color-secondary; }

.cbgg-black { background-color: $black; }
.cbgg-white { background-color: $white; }


@each $grey in $greys {
  $i: index($greys, $grey);

  .cg-#{$i} { color: $grey; }
  .cbgg-#{$i} { background-color: $grey; }
}