// Display properties.
.inline-block { display: inline-block; }
.block { display: block; }


// Width adjustments.
@for $i from 0 to 11 {
	.h-#{$i*10} { height: $i*10 + 0%; }
	.w-#{$i*10} { width: $i*10 + 0%; }
}


// Aspect ratios.
[class^='ratio-'],
[class*=' ratio-'] {
	width: 100%;
	position: relative;

	&:before {
		content: "";
		display: block;
	}

	& > *:not([class*='absolute']) {
		position: absolute;
		top: 0;
		left: 0;
	}

	&[class*='1_1']:before { padding-top: 100%; }
	&[class*='1_2']:before { padding-top: 200%; }
	&[class*='4_3']:before { padding-top: 75%; }
	&[class*='16_9']:before { padding-top: 56.25%; }

	// Thanks to http://www.mademyday.de/css-height-equals-width-with-pure-css.html.
}

// Use an element to crop an image.
.crop,
[class^='crop-'],
[class*=' crop-'] {
	overflow: hidden;

	img { width: 100%; }

	&[class*='fit'] img { 
		min-height: 100%;
		min-width: 100%;
		object-fit: cover;
	}

	// https://css-tricks.com/almanac/properties/o/object-fit/
}